<html>
    <head>
        <meta charset="utf-8">
        <title>My App</title>
        <style>
            .dom{
                width: 400px;
                height: 400px;
            }
        </style>
    </head>
    <body>
        <div>
            <div id="qs-poster-app"></div>
        </div>
        
    </body> 
</html>