.qs-poster-main-panel{
    .qs-poster-collapse{
        width: 400px;

        & > .qs-poster-collapse-header{
            display: flex;
            justify-content: space-between;
            padding: 8px;
            border-bottom: 1px solid #d9d9d9;

            span {
                color: #666;
                font-size: 15px;
            }
        }

    }
}